body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body:before {
	content: '';
    
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(https://media-exp1.licdn.com/dms/image/C4D22AQFOIkZQnuFLhQ/feedshare-shrink_800/0/1652270127132?e=2147483647&v=beta&t=B31geb2Xqx42I9MVkV_BQAFFOGHrSLPeoDaF05ghapU);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px);
}
.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -50%);
	width: 510px;
	height: 700px;
    margin: 50px;
	padding: 60px 40px;
	background: rgba(0, 0, 0, 0.5);
}
.avatar {
	position:absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: 205px;
}
.contact-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-form input {
	width: 100%;
	margin-bottom: 10px;
}
.contact-form input[type=email], .contact-form input[type=password] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.contact-form input[type=submit] {
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 15%;
}
.contact-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
input[type=checkbox] {
	width: 20%;
}
